* {
  margin: 0;
  padding: 0;
}
.content {
  padding: 16px;
  width: 30%;
}
.top-container {
  background-color: #f1f1f1;
  height: 100vh;
}

h1 {
  box-sizing: border-box;
  padding-top: 50vh;
  height: 100vh;
  color: #ffffff90;
}

.header {
  position: sticky;
  top: 0;
  background-color: yellow;
  height: 10vh;
}

h1,
h2 {
  font-size: 4em;
  width: 100%;
  text-align: center;
}
